@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
   
}

h1{
    width: 100%;
    text-align: center;
    color: #000;

    margin-top: 10px;
    font-family: 'Jersey 25',sans-serif;
    
}

img{
    width: 300px;
    height: 300px;
}

.main-image{
    top: 0vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contain-image{
    top: 0vh;
    position: relative;
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
input{
    background: transparent;
    border: none;
    outline: none;
    margin-left: 5px !important;

}

.images{
    display: flex;
        align-items: center;
        justify-content: center;
        
}
.contain-image{
    width: 50%;
}
.main-image{
    width: 50%;
}

button{
    border: none;
    outline: none;
    margin-right: 5px !important;
    cursor: pointer;
    background-color: aqua;
    width: 100px;
    height: 6vh;
    border-radius: 5px;
}

.container-input{
    margin-bottom: 10px;
     height: 10vh;
     width: 50%;
    background-color: white;
    border-radius: 4px;
    position: relative;
    left: 25%;
    display: flex;
        align-items: center;
        justify-content: space-between;
    box-shadow: rgb(38,57, 77) 0 20px 30px -10px;
    box-sizing: border-box;
}

@media (max-width: 748px){
    .images{
        flex-direction: column;
    }
}